li {
    padding-bottom: 10px;
  }
  
.definition{
    padding-bottom: 10px;
  }

  .center {
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    align-items: center;
  }
  